:root {
  --primary-bg-color: #000;
  --primary-text-color: #fff;
  --accent-text-color: #ffa35a;
  --secondary-text-color: #a3a1a1;
}

body {
  background-color: #d25a5a;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
