@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-bg-color: #000;
  --primary-text-color: #fff;
  --accent-text-color: #ffa35a;
  --secondary-text-color: #a3a1a1;

  --normal-spacing: 20px;
  --medium-spacing: 80px;
  --large-spacing: 120px;
}

* {
  font-family: "Josefin Sans", serif;
  margin: 0;
  padding: 0;
  color: var(--secondary-text-color);
}

body {
  background-color: var(--primary-bg-color);
  font-size: 18px;
}

.stars-container {
  background-color: var(--primary-bg-color);
  background-image: url("public/stars.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;
  animation: moverFondo 30s ease-in-out infinite;
  color: var(--primary-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--normal-spacing);
  align-items: center;
}

.logo-img {
  width: 200px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list-item-main {
  display: block !important;
}

.nav-list-item {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  transition: color 300ms ease-out;
  cursor: pointer;
  display: none;
}

.nav-list-item:hover {
  color: var(--accent-text-color);
}

.hero {
  padding: 0px var(--normal-spacing);
  text-align: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-subtitle {
  font-weight: 200;
  color: var(--secondary-text-color);
  font-size: 1.5em;
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 400;
  max-width: 80%;
  width: 100%;
  line-height: 1.2em;
  font-size: 2em;
  margin: calc(var(--normal-spacing) * 2) auto;
}

.mountains-img {
  height: auto;
  min-width: 100%;
  width: 100%;
  margin-bottom: -10px;
}

.space-container {
  background-color: var(--primary-bg-color);
  background-image: url("public/body-bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;
  color: var(--primary-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.section {
  max-width: 1200px;
  margin: 0px auto;
  padding: var(--normal-spacing);
  width: var(100% - var(--normal-spacing));
  margin-bottom: var(--medium-spacing);
}

.wwd-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--medium-spacing);
}

.wwd-image {
  flex-basis: 100%;
  position: relative;
  margin: 0 auto;
}

.triangle-img {
  width: 100%;
  height: auto;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  animation: rotate-clockwise 50s linear infinite;
}

.stars-img {
  position: absolute;
  top: 50;
  left: 50%;
  width: 100%;
  animation: rotate-counterclockwise 35s linear infinite;
}

.moon-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
}

.wwd-info {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.title-section {
  color: var(--primary-text-color);
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: var(--normal-spacing);
}

.info-section {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Media queries */

@media (min-width: 800px) {
  .hero-title {
    font-size: 3em;
  }

  .nav-list {
    gap: var(--normal-spacing);
  }

  .nav-list-item {
    display: block;
  }

  .wwd-section {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    line-height: 1.1em;
    width: 50%;
  }
}

/* Animaciones */

@keyframes moverFondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -500px;
  }
}

@keyframes rotate-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
