@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-bg-color: #000;
  --primary-text-color: #fff;
  --accent-text-color: #ffa35a;
  --secondary-text-color: #a3a1a1;

  --small-spacing: 10px;
  --normal-spacing: 20px;
  --medium-spacing: 80px;
  --large-spacing: 120px;
}

* {
  font-family: "Josefin Sans", serif;
  margin: 0;
  padding: 0;
  color: var(--secondary-text-color);
}

body {
  background-color: var(--primary-bg-color);
  font-size: 18px;
}

.stars-container {
  background-color: var(--primary-bg-color);
  background-image: url("public/stars.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;
  animation: moverFondo 30s ease-in-out infinite;
  color: var(--primary-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--normal-spacing);
  align-items: center;
}

.logo-img {
  width: 200px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list-item-main {
  display: block !important;
}

.nav-list-item {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  transition: color 300ms ease-out;
  cursor: pointer;
  display: none;
}

.nav-list-item:hover {
  color: var(--accent-text-color);
}

.hero {
  padding: 0px var(--normal-spacing);
  text-align: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-subtitle {
  font-weight: 200;
  color: var(--secondary-text-color);
  font-size: 1.5em;
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 400;
  max-width: 80%;
  width: 100%;
  line-height: 1.2em;
  font-size: 2em;
  margin: calc(var(--normal-spacing) * 2) auto;
}

.mountains-img {
  height: auto;
  min-width: 100%;
  width: 100%;
  margin-bottom: -10px;
}

.space-container {
  background-color: var(--primary-bg-color);
  background-image: url("public/body-bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;
  color: var(--primary-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.section {
  max-width: 1200px;
  margin: 0px auto;
  padding: var(--normal-spacing);
  width: var(100% - var(--normal-spacing));
  margin-bottom: var(--large-spacing);
}

.wwd-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--medium-spacing);
}

.wwd-image {
  flex-basis: 100%;
  position: relative;
  margin: 0 auto;
}

.triangle-img {
  width: 100%;
  height: auto;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  animation: rotate-clockwise 50s linear infinite;
}

.stars-img {
  position: absolute;
  top: 50;
  left: 50%;
  width: 100%;
  animation: rotate-counterclockwise 35s linear infinite;
}

.moon-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
}

.wwd-info {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.title-section {
  color: var(--primary-text-color);
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: var(--normal-spacing);
}

.info-section {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

.zodiac-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--normal-spacing);
  margin: var(--medium-spacing) 0px;
  text-align: center;
}

.zodiac-sign {
  display: flex;
  flex-direction: column;
  gap: var(--normal-spacing);
  transition: all 300ms ease-out;
}

.zodiac-sign h3 {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 1.5em;
}

.zodiac-sign p {
  font-weight: 200;
  line-height: 1.5em;
}

.zodiac-sign img {
  width: 60%;
  margin: 0px auto;
  transition: color 300ms ease-out, transform 300ms ease-out;
}

.zodiac-sign:hover img {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.aries:hover h3 {
  color: #ffb3ba;
}
.aries:hover img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(19%) saturate(454%)
    hue-rotate(297deg) brightness(103%) contrast(101%);
}

.tauro:hover h3 {
  color: #ffdfba;
}
.tauro:hover h3 {
  color: #ffdfba;
}
.tauro:hover img {
  filter: brightness(0) saturate(100%) invert(93%) sepia(24%) saturate(587%)
    hue-rotate(316deg) brightness(103%) contrast(101%);
}

.geminis:hover h3 {
  color: #ffffba;
}
.geminis:hover img {
  filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(526%)
    hue-rotate(5deg) brightness(106%) contrast(101%);
}

.cancer:hover h3 {
  color: #baffc9;
}
.cancer:hover img {
  filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(489%)
    hue-rotate(64deg) brightness(103%) contrast(96%);
}

.leo:hover h3 {
  color: #bae1ff;
}
.leo:hover img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(11%) saturate(523%)
    hue-rotate(182deg) brightness(106%) contrast(101%);
}

.virgo:hover h3 {
  color: #e3baff;
}
.virgo:hover img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(19%) saturate(757%)
    hue-rotate(219deg) brightness(102%) contrast(101%);
}

.libra:hover h3 {
  color: #ffb3e6;
}
.libra:hover img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(19%) saturate(757%)
    hue-rotate(289deg) brightness(103%) contrast(101%);
}

.escorpio:hover h3 {
  color: #ffb3ff;
}
.escorpio:hover img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(33%) saturate(627%)
    hue-rotate(266deg) brightness(103%) contrast(101%);
}

.sagitario:hover h3 {
  color: #ffcce6;
}
.sagitario:hover img {
  filter: brightness(0) saturate(100%) invert(91%) sepia(31%) saturate(422%)
    hue-rotate(287deg) brightness(103%) contrast(101%);
}

.capricornio:hover h3 {
  color: #ffccf9;
}
.capricornio:hover img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(20%) saturate(526%)
    hue-rotate(278deg) brightness(104%) contrast(101%);
}

.acuario:hover h3 {
  color: #ffcce6;
}
.acuario:hover img {
  filter: brightness(0) saturate(100%) invert(91%) sepia(31%) saturate(422%)
    hue-rotate(287deg) brightness(103%) contrast(101%);
}

.piscis:hover h3 {
  color: #ffcccb;
}
.piscis:hover img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(18%) saturate(444%)
    hue-rotate(304deg) brightness(103%) contrast(101%);
}

@media (min-width: 800px) {
  .hero-title {
    font-size: 3em;
  }

  .nav-list {
    gap: var(--normal-spacing);
  }

  .nav-list-item {
    display: block;
  }

  .wwd-section {
    flex-direction: row;
  }

  .zodiac-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 4em;
    line-height: 1.1em;
    width: 80%;
  }

  .wwd-section {
    gap: var(--large-spacing);
  }

  .zodiac-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Animaciones */

@keyframes moverFondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -500px;
  }
}

@keyframes rotate-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
